<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .aligner {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            min-height: 100vh;
        }
    </style>
</head>

<body>
    <div class="aligner">
        <div>
            <h1>{{ .title }}</h1>
            <p>{{ .message }}</p>
        </div>
    </div>
</body>

</html>
